footer{
text-align: center;
padding: 1vw;
background-color:rgb(180,226,254);
display: list-item;

}

#tel{
    text-decoration:none; 
    color:black;
}

#nousContacter{
    border-style: solid;
    border-color: rgb(222, 222, 222);
    background-color: rgb(159,173,243);
    font-size: 2em;
}

#nousContacter:hover{

    background-color: rgb(200,220,255);

}

